/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
Copyright (c) 2021 Kil Hyung-jin, with Reserved Font Name Pretendard.
https://github.com/orioncactus/pretendard

This Font Software is licensed under the SIL Open Font License, Version 1.1.
This license is copied below, and is also available with a FAQ at:
http://scripts.sil.org/OFL
*/

@font-face {
  font-family: "Pretendard";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("../public/fonts/Pretendard.woff2") format("woff2-variations");
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100dvh;
  background-color: #fcfcfc;
  overflow: hidden;
}

body {
  font-family: "Pretendard", sans-serif;
  width: 100%;
  height: 100%;
  min-width: 370px;
  max-width: 576px !important;
  background-color: black;
  overflow: hidden;
  position: relative;
}

#root {
  width: 100%;
  height: 100%;
}

/*Picker레이아웃 CSS*/

.ant-picker-header .ant-picker-next-icon {
  display: inline-block !important; /* 버튼을 강제로 표시 */
  visibility: visible !important;
.ant-picker-dropdown {
  inset-inline-start: calc(50% - 144px) !important;
  border-radius: 10px;
}
.ant-picker-panel-container {
  background: #000 !important;
}
.ant-picker-header {
  border: none !important;
  padding: 0px 18px !important;
}
.ant-picker-header-super-prev-btn,
.ant-picker-header-super-next-btn {
  display: none !important;
}
.ant-picker-header-prev-btn,
.ant-picker-header-next-btn {
  color: white !important;
}
.ant-picker-header-view {
  color: white !important;
}
.ant-picker-header-view button {
  height: 100% !important;
}
.ant-picker-body {
  padding-top: 0px !important;
}
.ant-picker-content th {
  color: #c4c4c4 !important;
}
.ant-picker-cell {
  padding: 2.5px !important;
}
.ant-picker-cell-inner {
  width: 100% !important;
  height: unset !important;
  aspect-ratio: 1 / 1 !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.ant-picker-content .ant-picker-cell .ant-picker-cell-inner {
  color: #c4c4c4 !important;
  background-color: #262827;
  opacity: 0.4;
  border-radius: 3px;
}
.ant-picker-content .ant-picker-cell .ant-picker-cell-inner::before {
  border: none !important;
}
.ant-picker-content
  .ant-picker-cell.ant-picker-cell-in-view
  .ant-picker-cell-inner {
  color: #c3c3c3 !important;
  opacity: 1;
}
.ant-picker-content
  .ant-picker-cell.ant-picker-cell-selected
  .ant-picker-cell-inner {
  color: #fff !important;
  background-color: #184149 !important;
  opacity: 1;
}
.ant-picker-content
  .ant-picker-cell.ant-picker-cell-today
  .ant-picker-cell-inner::before {
  border: #184149 2px solid !important;
}

.ant-picker-footer {
  display: none !important;
}

.sc-CNKsk.fEhnVO {
  background-color: rgba(32, 48, 55, 0.6);
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  width: fit-content !important;
  background-color: #184149 !important;
  border-radius: 50% !important;
}

.react-calendar__tile--now {
  background-color: #4d4d4d !important;
  border-radius: 50% !important;
}
.react-calendar__navigation__arrow,
react-calendar__navigation__next-button {
  background: none !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  margin-bottom: 5px !important;
}
.react-calendar__navigation__arrow,
react-calendar__navigation__prev-button {
  background: none !important;
}
.react-calendar__navigation__label {
  pointer-events: none !important; /* 클릭 막기 */
}
.react-calendar__tile,
react-calendar__month-view__days__day {
  aspect-ratio: 1 / 1 !important;
  padding: 0 !important;
}
.react-calendar__navigation {
  margin-bottom: 87px !important;
}
.react-calendar__navigation__label__labelText,
react-calendar__navigation__label__labelText--from {
  font-size: 24px !important;
}
.react-calendar,
sc-huXwEz gGZvA-D {
  padding: 0px !important;
}
